:root {
    --main-bg-color: rgb(32, 94, 187);
}

* {
    padding: 0;
    margin: 0;
}

.flex-all-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--main-bg-color);
    height: 16%;
    width: 100%;
    position: fixed;
    z-index: +1;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
    padding: 8px 10px;
}

.logotext {
    width: 656px;
    height: 81px;
    padding: 3px 8px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

nav ul li {
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    color: rgb(240, 230, 240);
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

.container {
    min-height: calc(100vh - 145px - 19vh);
    background-color: beige;
}

.content {
    color: #063333;
    padding: 110px 0px 0vh 291px;
}

.contenthead {
    display: flex;
    color: #191970;


}

h1 {
    padding-top: 5vh;
}

button {
    background-color: yellow;
    width: 20vh;
    color: rgb(165, 68, 109);
    padding: 15px;
    margin: 15px 200px;
    border: none;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 70%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid rgb(58, 14, 14);
    box-sizing: border-box;
}

.container2 {
    background-color: beige;
}

.box {
    background-color: #063333;
    color: antiquewhite;
    border-color: #191970;
    margin: 0px 400px 0px 218px;
    padding: 22px 0px 6px 73px;
}

.end {
    background-color: #101f2e;
    color: whitesmoke;
    padding: 20px;
}

footer {
    height: 18vh;
    color: beige;
    background-color: var(--main-bg-color);
}

.footertext {
    width: 660px;
    height: 69px;
    padding: 25px;
}

@media only screen and (max-width:800px) {
    header {
        background-color: var(--main-bg-color);
        height: 28vh;
        margin-left: -25px;
    }

    .logo img {
        width: 129px;
        height: 82px;
        padding-top: 19px;
    }

    .logotext {
        width: 405px;
    }

    nav {
        flex-direction: column;
        color: #101f2e;
        margin-left: 31px;
    }

    ul {
        font-size: x-small;
        margin-top: -78px;
    }

    nav ul li {
        list-style: none;
        padding: 0 12px;
    }

    .container {

        background-color: rgb(225, 252, 245);
        min-height: calc(100vh - 85px - 29vh);
    }

    .content {

        background-color: rgb(162, 250, 221);
        font-size: smaller;
    }

    .contenthead {
        padding-top: 80px;
        margin-left: -202px;
    }    
    .container2{
        margin: 0 0 0 0;
    }

    .box{
        margin: 0 0 0 0;
    }

    .flex-all-centre {
        flex-direction: column;
    }

    .footertext {
        width: 338px;
        height: 91px;
    }

}
